<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/style.css" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css" />
  <script src="/script.js" defer></script>
  <script src="/script.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#"> CS69</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Projects.html">Projects</a>
          </li>
        </ul>
      </div>
    </nav>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar1">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="problems.html">Problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="labs.html">labs</a>
          </li>
        </ul>
      </div>
    </nav>
  <button type="button" onclick="document.getElementById('aaa').scrollIntoView();"> Unit 1 </button>
  <button type="button" onclick="document.getElementById('aaa1').scrollIntoView();"> Unit 2 </button>
  <button type="button" onclick="document.getElementById('aaa2').scrollIntoView();"> Unit 3 </button>
  <button type="button" onclick="document.getElementById('aaa3').scrollIntoView();"> Unit 4 </button>
  <button type="button" onclick="document.getElementById('aaa4').scrollIntoView();"> Unit 7 </button>
     <div class="center">
       <h1>
        Labs are simple problems which teach a new idea or skill or part of code
      </h1>
    </div>
  
  
<div id="aaa">
<div class="row-xl-12">  
  <pmedium>
  Unit 1
  </pmedium>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        Syntax
      </p>
        <p>Taught basic syntac for C.
      </p>
      <script src="https://gist.github.com/JasanRubes/a0609d05220bf304f5edd6be7a8ee5cc.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Variables
      </p>
      <p>
        Taught how to declare and alter a variable.
      </p>
      <script src="https://gist.github.com/JasanRubes/2d3369985ba4ce847703026de67232b0.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Datatypes
      </p>
      <p>
        Taught the different dataypes.
      </p>
        <script src="https://gist.github.com/JasanRubes/77753cf3440e6c115ef8169a00762cdc.js"></script>      
    </div>
    <div class="col-sm-3">
      <p class="center">
        Printf Placeholders
      </p>
      <p>
        Taught how to input difference datatype variables into a print statement.
      </p>
       <script src="https://gist.github.com/JasanRubes/b2a47423833dba42a797e525e6b90dab.js"></script> 
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        Operators
      </p>
      <p>
        Taught how math is used in C.
      </p>
      <script src="https://gist.github.com/JasanRubes/2eb8293d40cc37d4a4831d07edd17fe1.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Boolean Expressions and Conditionals
      </p>
      <p>
        Taught true and false statements and how to use conditions.
      </p>
     <script src="https://gist.github.com/JasanRubes/27c51ab76b789e61378fff503d349524.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        While Loops
      </p>
      <p>
        While the condiditon is true then do the following.
      </p>
      <script src="https://gist.github.com/JasanRubes/f1907a816457f0297fd5ac03a39cc574.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Do While Loops
      </p>
      <p>
        Do this then while the condition is true then do the following
      </p>
      <script src="https://gist.github.com/JasanRubes/2ce9304b0abe2a91eb57fb15ba7052ef.js"></script>
    </div>
  </div>
               <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        For Loops
      </p>
      <p>
        A loop which iterates i times.
      </p>
      <script src="https://gist.github.com/JasanRubes/7d819adfdff13646708f8e3a90b8452d.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Magic Numbers
      </p>
      <p>
        Predefined constants.
      </p>
     <script src="https://gist.github.com/JasanRubes/2170ca2e078d39aea1c51eaf1b828f9c.js"></script>
    </div>
  </div>
</div>
</div>
  
  
  
<div id="aaa1">
<div class="row-xl-12">  
  <pmedium>
  Unit 2
  </pmedium>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        Functions
      </p>
        <p>Functions are preset code which can be called on at any point.
      </p>
      <script src="https://gist.github.com/JasanRubes/471ba3bab903e0d113951822eb07a8b9.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Arrays and Strings
      </p>
      <p>
        Arrays are like containers which hold a series of data in a specific order.
      </p>
      <script src="https://gist.github.com/JasanRubes/c46846a32ada05cce43e87f1ad803357.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Command-Line interaction
      </p>
      <p>
       Allows for multiple inputs when running the code.
      </p>
        <script src="https://gist.github.com/JasanRubes/f7470e1f3f322a2141e95368c5c77f1d.js"></script>    
    </div>
    <div class="col-sm-3">
      <p class="center">
        Exit Codes
      </p>
      <p>
        Allow for interupting code and replying with success or failure.
      </p>
       <script src="https://gist.github.com/JasanRubes/8283f94ee7e9568bf2beb802ffbc05e5.js"></script>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        Typecasting
      </p>
      <p>
        Typecasting is how to change piece of data from one type to another.
      </p>
     <script src="https://gist.github.com/JasanRubes/e60236610a47d139e46d553c6b5f06dc.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Bugs and Debugging
      </p>
      <p>
        Fixing bugs using features such as step by step debugging. 
      </p>
     <script src="https://gist.github.com/JasanRubes/46d50a0cc3a401becce993dd9d8666d9.js"></script>
    </div>
  </div>
</div>
</div>
  <hr>
<div id="aaa2">
<div class="row-xl-12">  
  <pmedium>
  Unit 3
  </pmedium>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        Linear Search
      </p>
        <p>Searches through an array for a specific piece of data.
      </p>
      <script src="https://gist.github.com/JasanRubes/162ad0ffd7bd5873a38c58f74c535829.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Bubble Sort
      </p>
      <p>
        Compared the i and i+1 pieces of data and orders the two.
      </p>
      <script src="https://gist.github.com/JasanRubes/743333f506bdbab727ccb6f160ae5211.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Selection Sort
      </p>
      <p>
        Looks for the smallest number and then swaps it into the start of the array.
      </p>
       <script src="https://gist.github.com/JasanRubes/3b4edaf5b675bfc1dc5dce2b81f275e7.js"></script>    
    </div>
    <div class="col-sm-3">
      <p class="center">
        Insertion Sort
      </p>
      <p>
        Sorts one number at a time as it cycles through comparing each number 
      </p>
       <script src="https://gist.github.com/JasanRubes/37acedd9dc6e448b7745adf4331f5451.js"></script>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
       Binary Search
      </p>
      <p>
        Divides the data in half and then repeats with the half which should contian the requested data.
      </p>
      <script src="https://gist.github.com/JasanRubes/f882cd684dc42052b185f6be32872ce8.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Models and Simulations
      </p>
      <p>
        Simulating real life senarios to esentially predict the future.
      </p>
     <script src="https://gist.github.com/JasanRubes/4b0a43f2a26da0021885519e7d86e510.js"></script>
    </div>
  </div>
</div>
</div>
  
  
  
   <div id="aaa3">
<div class="row-xl-12">  
  <pmedium>
  Unit 4
  </pmedium>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        Structures and Encapsulation
      </p>
        <p>Stores data that is related, but of different data types under one variable.
      </p>
      <script src="https://gist.github.com/JasanRubes/e0dcbcb8d1fbed2bd71790e77bb697a8.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
       Recursion
      </p>
      <p>
        A function which is repeated until a goal is reached
      </p>
      <script src="https://gist.github.com/JasanRubes/8f48cc02409a3408d2d2a7580b53a7af.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Merge Sort
      </p>
      <p>
        Splits the data in half and then either repeats the splitting or sorts the data. It then keeps merging and sorting until sorted.
      </p>
        <script src="https://gist.github.com/JasanRubes/2bda674e239ec961c6e2770bf3fc739e.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Hexadecimal
      </p>
      <p>
         Hexadecimal is a numbering system which uses 16 symbols. 0-9 and a-f.
      </p>
       <script src="https://gist.github.com/JasanRubes/122b0566534e7fc6bed251c7bf70c1c9.js"></script>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        File I/O
      </p>
      <p>
        Opening, closing, reading and writing to other files using code.
      </p>
     <script src="https://gist.github.com/JasanRubes/08b77f5c5e569807e49ff410b813bb68.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
       Image
      </p>
      <p>
        Manipulates individual pixels of an image and alters their data.
      </p>
     <script src="https://gist.github.com/JasanRubes/1f1079f5a396d657c49656b27b8e4ef4.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Pointers
      </p>
      <p>
        Allows for data to be allocated to certain memory
      </p>
      <script src="https://gist.github.com/JasanRubes/1b6f1a0e77c66715ed6a0e62f09ac6e2.js"></script>
    </div>
    <div class="col-sm-3">
      <p class="center">
        Memory
      </p>
      <p>
        Proper updating of data based on its memory.
      </p>
      <script src="https://gist.github.com/JasanRubes/5ddbf12b5044257e2ec62de005416012.js"></script>
    </div>
  </div>
</div>
</div>
  
  
  <hr>
  
  <div id="aaa4">
<div class="row-xl-12">  
  <pmedium>
  Unit 7
  </pmedium>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="center">
        Spreadsheets
      </p>
        <p>Inporting and utilizing spreadsheets with code.
      </p>
     <script src="https://gist.github.com/JasanRubes/d9fe44d2ad88fd39f11bb242506f7331.js"></script>
    </div>
  </div>
</div>
</div>
  
  
  
</body>